#*
*~
*.elc
auto-save-list
backup
bookmark
history
save-places
tramp
anything-c-adaptive-history
srecode-map.el
ac-comphist.dat
server
semanticdb
.org-id-localtions
/ac-dict/
/el-get/
!/el-get/recipes
/elpa/
/rc.d/[0-9]*environment.el
/url/
/var/
