*.elc
auto-save-list
backup
repos
bookmark
history
save-places
tramp
anything-c-adaptive-history
srecode-map.el
ac-dict/
ac-comphist.dat
server
rc.d/[0-9]*environment.el
semanticdb
.org-id-localtions
var/
url/