\#*
*~
*.elc
auto-save-list
bookmark
bm-repository
history
save-places
tramp
anything-c-adaptive-history
srecode-map.el
ac-comphist.dat
server
semanticdb
.org-id-localtions
/ac-dict/
/backup/
/el-get/
!/el-get/recipes
/elpa/
/rc.d/[0-9]*environment.el
/url/
/var/
/.mc-lists.el
/projectile-bookmarks.eld
/projectile.cache